* {
    box-sizing: border-box;
    padding: 1em;
}

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

header, footer{
  color: white;
  background-color: #1976D2 ;
  grid-column: span 2;
} 

.navigation{
  color: #212121;
  background-color: white;
  display: grid;
  grid-template-rows: 2;
  row-gap: 2px;
  
}

main{
  grid-gap: 4px;
  background-color: gainsboro;
  color: white;
  max-width: 100%;
}

.card {
  content-visibility: auto;
  position: relative;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: var(--secondary);
  grid-template-rows: 5fr 1fr;
  padding:0;
  align-items: stretch;
  align-content: stretch;
  border-radius: 5px;
}